body {
    font-family: Arial, sans-serif;
    background: #f4f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid #999;
}

input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
}

tr:nth-child(3n) td {
    border-bottom: 2px solid black;
}

td:nth-child(3n) {
    border-right: 2px solid black;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
